<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <%=session.empresa?session.empresa.denominacion:'Denominacion'%></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/client/index">Lista Empresas</a>
        </li>
      </ul>
    </div>
    <div class="p-5">
      <form class="d-flex">
          <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  
    <span class="button-register-login">
        <p class="nav-link active" style="color:white">Teléfono: <%=session.empresa?'+'+session.empresa.telefono:'0800-2345-6789'%></p>
        <%let horario = session.empresa? session.empresa.horario_atencion.split('-'):''%>
        <p class="nav-link active" style="color:white"><%-horario!=''?'Apertura: '+horario[0]+"<br>Cierre: "+horario[1]:'6am-4pm PST M-Th;  6am-3pm PST Fri'%></p>
    </span>
  </div>
</nav>
<div class="titulo-logo row">
	<div class="col-lg-auto"><img src="/images/logo.png" alt="logo-principal"></div>
	<div class="col-lg-auto"><h1><%=session.empresa?session.empresa.denominacion:'Denominacion'%></h1></div>
</div>
<div class="background-image">
	<img src="/images/nav-background.jpg" alt="paisaje-bicicleta">
</div>