<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <a href="/admin/index">Administrador</a> <br>
    <a href="/client/index">Cliente</a>
  </body>
</html>
